venv
.env
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.DS_Store
.idea
*.iml
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp
*.egg-info
dist
build
*.egg
*.tar.gz
*.zip
*.log
*.cover
.coverage
htmlcov
.tox
.nox
.coverage.*
.pytest_cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis
.pyre
.mypy_cache
.dmypy.json
.dmypy.json.5
.pytype
.pytype/
.pytype_config.py
.pytype_config.pyc
.ipynb_checkpoints